html
  head
    title='Duckdoer Training'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        Hello Folks!
        p
        p 
          a.btn.btn-primary(href="https://www.amazon.in/Kafka-Shore-Vintage-Haruki-Murakami/dp/0099458322/ref=sr_1_1?keywords=kafka+on+the+shore&qid=1640451398&sprefix=kafka+%2Caps%2C579&sr=8-1") My favourite book.
        p